

#main{

  align-self: top;
  display: inline;
}
* {
    box-sizing: inline;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: linear-gradient(to right, rgb(132, 156, 221) , rgb(176, 192, 199)) ;
  }
  
  header {
    background-color: #333;
    color: #1a1919;
    padding: 1em;
    text-align: center;
  }

  
  /* Form Styles */
  
  #s_form_div {
    display: inline;
    padding: 2em;
    background-color: #1e2c29;
    border: 1px  #242323 ;
    border-radius: 10px;
    width: 4%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  #form {
    border: 1px  #0c0c0c;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
  #form input[type="text"],
  #form input[type="email"],
  #form input[type="tel"] {
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgb(176, 192, 199);
    border: 1px solid #0c0c0c;
    border-radius: 5px;
    width: 30%;
  }
  
  #form select {
    padding: 1em;
    background:  rgb(176, 192, 199);
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 32%;
  }
  
  .formbtn {
    background-color:rgb(35, 79, 99);
    color: #fff;
    padding: 1em 1em;
    width: 32%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formbtn:hover {
    background-color: rgb(46, 126, 160);
  }
  
 
  .tableDiv{
    width: 66%;
    
    background-color: rgb(132, 156, 221);
    margin-top: -400px;
    height: 80vh;
    margin-left: 33%;
    overflow: scroll;
margin-bottom: 100%;
  }
.tableDiv::-webkit-scrollbar{
    display: none;
}
.tableDiv table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    background-color: rgb(84, 142, 167);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

  .thead{
    background-color: rgb(151, 167, 177);
    color: rgb(14, 12, 12);
    border-radius: 10px;
    position: relative;
    top: 0;
}
.thead th{
    padding: 13px;
}
#tbody td{
    padding: 12px;
}
  
  #delbtn {
    background-color: red;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #delbtn:hover {
  
    background-color: #c0392b;
  }
 
